node_modules
dist
dist-ssr
*.local
.DS_Store
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vite

# TS build info
tsconfig.tsbuildinfo
*.tsbuildinfo
dist-single

# Firebase
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
functions/node_modules
functions/lib
